<md-card *ngIf="stats">
  <md-card-title>
    Conversion stats as of {{stats.Computed}}
  </md-card-title>
  <md-card-content>
    So far, {{stats.NumConverted}}/{{stats.NumTotal}} lessons are transcribed.<br>
    That's {{stats.ConvertedDurationSec / 60 | number:'1.0-0'}} minutes out of {{ stats.LeftDurationSec / 60 | number:'1.0-0'}}
    <span id="percent">({{stats.PercentDone | number:'1.0-3'}}%)</span>
  </md-card-content>
</md-card>
<md-chip-list *ngIf="hasError" class="mat-chip-list-stacked chip-list">
  <md-chip selected="true" color="warn">
    Sorry, stats will be available soon.
  </md-chip>
</md-chip-list>
