<app-stats></app-stats>

<p>This is a non-profit website built and ran by Timothé Faudot.</p>

<p>College de France is a French institution which podcasts I listen to a lot and
I thought that having the capability to search for specific terms in the
podcasts themselves could help discover new related science in all the past and
ongoing chaires.</p>

<p>I hope other people find it useful too.</p>

<p>You can contact me on <a href="https://www.facebook.com/timothe.faudot">Facebook</a>
or <a href="https://github.com/attwad/">Github</a> for any inquiry.</p>

<p>The code for this website is available on <a href="https://github.com/attwad/cdf-fe"></a> Github and the whole process of building
it is documented thoroughly on <a href="https://medium.com/@timothefaudot/searching-the-college-de-france-78f6fd34443c">Medium</a></p>
