<app-stats></app-stats>

<div style="margin: 8px">

<p>This is a non-profit website built and ran by Timothé Faudot.</p>
<p>It is in no way officially affiliated with the College de France institution.</p>

<p>College de France is a French institution which podcasts I listen to a lot and
I thought that having the capability to search for specific terms in the
podcasts themselves could help discover new related science in all the past and
ongoing chaires.</p>

<p>I hope other people find it useful too.</p>

<p>You can contact me on <a href="https://www.facebook.com/timothe.faudot">Facebook</a>
or <a href="https://github.com/attwad/">Github</a> for any inquiry.</p>

<p>The code for this website is available on <a href="https://github.com/attwad/cdf-fe">Github</a> under the MIT license and the whole process of building
it is documented thoroughly on <a href="https://medium.com/@timothefaudot/searching-the-college-de-france-78f6fd34443c">Medium</a></p>

<h4>Open source credits</h4>

This project was made feasible thanks to open source code:
<ul>
  <li><a href="https://github.com/kubernetes/kubernetes/blob/master/LICENSE">Kubernetes</a> - Apache license 2.0</li>
  <li><a href="https://github.com/angular/angular/blob/master/LICENSE">Angular</a> - MIT license</li>
  <li><a href="https://github.com/elastic/elasticsearch/blob/master/LICENSE.txt">Elasticsearch</a> - Apache license 2.0</li>
  <li><a href="https://en.wikipedia.org/wiki/GNU_General_Public_License">Sox</a> - GNU General Public License v2</li>
</ul>

</div>
