<p>This is a non-profit website built and ran by Timothé Faudot.</p>

<p>College de France is a French institution which podcasts I listen to a lot and
I thought that having the capability to search for specific terms in the
podcasts themselves could help discover new related science in all the past and
ongoing chaires.</p>

<p>I hope other people find it useful too.</p>

<p>You can contact me on Facebook (https://www.facebook.com/timothe.faudot)
or Github (https://github.com/attwad/) if you have any inquiry.</p>

<p>The code for this website is available on Github and the whole process of building
it will soon be documented thoroughly on Medium.</p>
