<div style="margin: 16px" *ngIf="!payResponse">
  <button md-raised-button (click)="pay(200)">Pay 200JPY</button>
</div>

<div style="margin: 16px" *ngIf="payResponse">
  <p>Thank you!</p>
  <span *ngIf="payResponse.error">{{error}}</span>
  <p>here is the list of lessons that were scheduled for transcription:</p>
  <ul>
    <li *ngFor="let lesson of payResponse.scheduled">{{lesson}}</li>
  </ul>
</div>

<h3>Cost overview</h3>
<p>This websites costs me about ~30$ to run per month, I am paying that myself, that includes the infrastructure to index and serve the transcripts as well as this website, domain name etc.</p>
<p>Transcriptions <a href="https://cloud.google.com/speech/pricing">cost</a> 0.006$ per 15 seconds, that's 1.20$ an hour, the average lesson time.</p>
<p>Stripe, the payment processing platform used by this website charges 0.3% + 30¢ per transaction, </p>
<p>Paying for every lesson would cost me thousands of dollars which I am not ready to support hence I am counting on donations from anyone interested.</p>

<h3>What happens when you donate?</h3>
<p>When the donation is received, new lessons are automatically and randonmly scheduled to be transcribed depending on how long their are and the amount you donated.
<br>
Every cents of the donations will be used and will be used for transcriptions only.
<br>
When the transcriptions are scheduled, this page will display which lessons were scheduled thanks to you, exciting!
</p>

<h3>Why can't I chose the lessons I want transcribed?</h3>
Consider this an experiment, I believe that the value of this website and indexing of the audio transcripts comes from the serendipity in search results, surprising people by matching their search queries with lessons they wouldn't have suspected existed.

<h3>That's great, let me participate!</h3>
<p>First of all, thank you very much, you can pick a number of lessons to transcribe or enter a custom amount yourself at the top of this page.</p>
