.hidden {
  display: none;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.flex-card {
  margin: 15px;
  flex-basis: 100%;
}

@media all and (min-width: 500px) {
  .flex-card {
    flex: 1 100%;
  }
}

@media all and (min-width: 800px) {
  .flex-card {
    flex: 1 50%;
  }
}
