.hidden {
  display: none;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-top: 16px;
}

.flex-card {
  margin: 15px;
  flex-basis: 100%;
  flex: 1 100%;
}

.flex-chip {
  flex: 1 100%;
  margin-bottom: 8px;
}
