<div>
  <md-card>
    <md-card-title>
      Search audio transcripts
    </md-card-title>
    <md-card-subtitle>
      <ul>
        <li>+ signifies AND operation</li>
        <li>| signifies OR operation</li>
        <li>- negates a single token</li>
        <li>" wraps a number of tokens to signify a phrase for searching</li>
        <li>* at the end of a term signifies a prefix query</li>
        <li>( and ) signify precedence</li>
        <li>~N after a word signifies edit distance (fuzziness)</li>
        <li>~N after a phrase signifies slop amount</li>
      </ul>
      Example queries:
      <ul>
        <li>innovation -informatique</li>
        <li>medecine philosoph*</li>
        <li>confucianisme | taoïsme</li>
        <li>pharmacopée | thérapeutique</li>
      </ul>
    </md-card-subtitle>
    <md-card-content>
      <md-input-container style="width:100%; max-width:350px">
        <input #searchBox mdInput autofocus
          placeholder="Enter your query..."
          id="search-box" (keyup)="search(searchBox.value)" />
      </md-input-container>
    </md-card-content>
  </md-card>
  <div>
    <md-spinner style="width:48px;height:48px;" [ngClass]="{'hidden': !loading}"></md-spinner>
    <div class="flex-container">
      <md-chip *ngIf="searchResponse?.sources.length > 0" class="flex-chip">
        Transcripts excerpts were generated automatically, they most likely contains errors and/or inconsistencies with what the lecturer actually said, read with caution.
      </md-chip>
      <md-chip *ngIf="searchResponse" class="flex-chip">
        Total hits: {{searchResponse?.total}}
      </md-chip>
      <md-card
        *ngFor="let source of searchResponse?.sources"
        class="flex-card">
        <md-card-title>
          {{source.title}}
        </md-card-title>
        <md-card-subtitle>
          Chaire: {{source.chaire}}<br>
          <i class="material-icons md-18">person</i> {{source.lecturer}}<br>
          <span *ngIf="source.function">Function: {{source.function}}<br></span>
          <span *ngIf="source.type">Lesson type: {{source.type}}<br></span>
          <span *ngIf="source.type_title">Lesson subject: {{source.type_title}}<br></span>
          <span *ngIf="source.lang">Language: {{source.lang}}<br></span>
        </md-card-subtitle>
        <md-card-content>
          <q>...{{source.transcript}}...</q>
        </md-card-content>
        <md-card-actions>
          <a md-raised-button href="{{source.source_url}}" target="_blank">
            View on <i>College de France</i> website
          </a>
        </md-card-actions>
      </md-card>
    </div>
    <md-paginator
        *ngIf="searchResponse?.total > 0"
        [length]="total"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageEvent($event)">
    </md-paginator>
    <md-chip-list class="mat-chip-list-stacked chip-list">
      <md-chip *ngIf="searchResponse?.sources.length == 0" style="max-width:150px">
        No results found.
      </md-chip>
      <md-chip *ngIf="searchResponse" style="max-width:150px">
        Search took {{searchResponse?.took_ms}}ms.
      </md-chip>
      <md-chip *ngIf="error" selected="true" color="warn">
        {{error}}
      </md-chip>
      <md-chip *ngIf="searchResponse?.timed_out" selected="true" color="warn">
        Timed out
      </md-chip>
    </md-chip-list>
  </div>
</div>
