<md-progress-bar style="height:4px" mode="query" [ngClass]="{'hidden': !loading}"></md-progress-bar>
<div [ngStyle]="{'padding-top': loading ? '16px' : '20px'}">
  <md-slide-toggle [checked]="showConvertedOnly" (change)="onShowConvertedOnlyChanged()">
    Show converted only
  </md-slide-toggle>
</div>
<div *ngIf="!showConvertedOnly" class="thanks">
  These can be indexed with <a href="/donate">everyone's help</a>.
</div>
<div *ngIf="showConvertedOnly" class="thanks">
  These were all indexed thanks to <a href="/donate">everyone's help</a>.
</div>
<md-chip-list *ngIf="error" class="mat-chip-list-stacked chip-list">
  <md-chip selected="true" color="warn">
    {{error}}
  </md-chip>
</md-chip-list>
<div class="flex-container">
  <md-card
    *ngFor="let lesson of lessons"
    class="flex-card">
    <md-card-title>
      {{lesson.title}}
    </md-card-title>
    <md-card-subtitle>
      Chaire: {{lesson.chaire}}
    </md-card-subtitle>
    <md-card-content>
      <i class="material-icons md-18">person</i> {{lesson.lecturer}}
      <span *ngIf="lesson.function"> - {{lesson.function}}</span>
      <br>Date: {{lesson.date}}<br>
      <span *ngIf="lesson.type">Lesson type: {{lesson.lesson_type}}<br></span>
      <span *ngIf="lesson.subject">Lesson subject: {{lesson.type_title}}<br></span>
      Lesson duration: {{lesson.duration}}
      <span *ngIf="lesson.converted">
        <br>
        <i>This lesson is transcribed.</i>
      </span>
    </md-card-content>
  </md-card>
</div>
<button *ngIf="cursor" md-raised-button (click)="goToNextPage()">Next page</button>
